/* ------------------------------------------------------------
-----------------ESTILO PARA MÍNIMO DE 1024---------------------------
------------------------------------------------------------ */
@media only screen and (min-width: 1025px) and (max-width: 1250px) {

  header {
    padding: 7px; 
  }

.nav-menu a{
  font-size: 20px;
  margin-left: 4.5rem;
}

.nav-menu
{
  margin-left: 10%;
  margin-right: 10%;
}


.menu__navegacion li {
display: block;
}

.nav-menu {
  text-align: center;
  }

}

.splide{
  margin-top: 72px;
}

/* ------------------------------------------------------------
-----------------ESTILO PARA MÁXIMO DE 1024----------------------
------------------------------------------------------------ */
@media only screen and (min-width: 921px) and (max-width: 1024px) {

  header {
    padding: 7px;
  }

  .nav-menu {
    margin-left: 0;
    text-align: center;
    }

    .nav-menu a{
      font-size: 20px;
    }
    
    .menu__navegacion {
    display: block;
    margin: 0;
    padding: 0;
    }
    
    .menu__navegacion li {
    display: block;
    margin: 0.1rem;
    padding-left: 4.5rem;
    }

    .menu__navegacion li a{
      margin: 0;
    }

#check {
display: none;
}

.abajo-splide h1 {
  font-size: 35px;
  margin: 0px 40px;
  }


}

/* ------------------------------------------------------------
-----------------ESTILO PARA MÁXIMO DE 920---------------------
------------------------------------------------------------ */
@media only screen and (max-width: 920px) {

/* LOGO */

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 5px;
  border-radius: 14px;
  margin-left: 0;
}

.logo-header img {
  width: 40px;
  height: auto;
}

.logo-header span {

  font-size: 20px;

}

/* MENU */
.checkbtn{
    display: block;
}

.nav-menu a{
  font-size: 20px;
  margin: 1rem;
}

.menu-icon{
  display: block;
  position: fixed;
  top: 20px;
  right: 30px;
}

.menu-icon i{
  padding-top: 5px;
}

.nav-menu ul{
  place-items: center;
  display: grid; /* Para centrar verticalmente */
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 50%;
  left: -100%;
  top: 66px;
  position: fixed;
  transition: all 0.25s ease;
  border-bottom: #ffffff solid 2px;
}

.nav-menu ul li{
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-menu ul li a{
  font-size: 20px;
}

#check:checked ~ ul{
    left: 0;
    transition: all .25s;
}


.menu-icon i {
  transition: all 0.25s ease;
}

/* --------- cambiar icono al abrir el menu en movil ---------- */
/* --------- se utiliza el Unicode del icono al que se desea cambiar ---------- */
#check:checked ~ label .menu-icon i:before { 
  content: '\f00d';
  color: #ffffff;
  font-size: 20px;
}

  /* SPLIDER */
  
  .splide{
    margin-top: 68px;
  }
  
  /* Estilos para pantallas con un ancho máximo de 920px */
  .splide__arrow--next{
    font-size: 16px;
  }
  
  .splide__arrow--prev{
    font-size: 16px;
  }
  
  /* ABAJO DE SPLIDER */
  .abajo-splide {
    padding: 3%;
    height: auto;
    padding: 30px 50px;
  }
  
  .abajo-splide h1 {
    font-size: 20px;
  }


/* -------------------IMAGEN CONTACTANOS----------------- */
#seccion-imagen{
  width: 100%;
  justify-content: center;
  padding: 20px;
}

#seccion-imagen img {
  object-fit: cover;
  height: auto;
  padding: auto;
}

/* -------------------CONTACTOS----------------- */

#contactos{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#redes-sociales{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 20px;
}

.contactos-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0px;
  max-width: 100%;
}

.contactos-item p{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0px;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
}
  
.contactos-item i {
  font-size: 30px;
  padding: 10px;
  font-weight: 700;
}

/* FOOTER | PIE DE PAGINA */

footer{
  max-width: 100%;
}

.container__footer {
  justify-content: space-evenly;
}

.contenido__1 h2,
.contenido__2 h2,
.contenido__3 h2{
  font-size: 16px;
  text-align: center;
}

/* Contenedor 1 */

.box__footer-1{
  padding: 20px 10px;
}

.contenido__1 p{
  max-width: 100%;
  font-size: 16px;
}

/* Contenedor 2 */

.box__footer-2 a{
  font-size: 16px;
  padding: 20px 15px;
}

.footer-redes a i{
  font-size: 20px;
  padding: 5px;
}

/* Contenedor 3 */
.box__footer-3 {
  justify-content: center;
  padding: 20px 10px;
}

.contenido__3 {
  max-width: 100%;
}

.item {
  flex-direction: row;
  gap: 5px;
  margin: 5px 0px;
  max-width: 100%;
}

.item p {
  max-width: 100%;
  word-break: break-all;
}

.item i {
  font-size: 20px;
}

/* Contenedor 4 */

.box__copyright p{
  font-size: 13px;
}

  /* Botón Ir Arriba */
  
  .ir-arriba {
    width: 25px;
    height: 25px;
  }
  
  .ir-arriba i {
  
    font-size: 15px;
    font-weight: bold;
  }


  }

/* ------------------------------------------------------------
-----------------ESTILO PARA MÁXIMO DE 533---------------------
------------------------------------------------------------ */
@media only screen and (max-width: 533px) {

/* SPLIDER */
.splide{
  margin-top: 68px;
}

.splide__slide img {
  max-width: 100%;
max-height: 100%;
height: 300px;
width: 530;
}

/* ABAJO DE SPLIDER */

.abajo-splide {
padding: 3%;
height: auto;
padding: 30px 40px;
}

.abajo-splide h1 {
font-size: 18px;
margin: 0px 0px;
}

/* -------------------IMAGEN CONTACTANOS----------------- */
#seccion-imagen{
  width: 100%;
  justify-content: center;
  padding: 20px;
}

#seccion-imagen img {
  object-fit: cover;
  height: auto;
  padding: auto;
}

/* -------------------CONTACTOS----------------- */

#contactos{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#redes-sociales {
  width: 600px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 40px 0 30px;
  justify-content: flex-start; /* Alineación vertical */
  align-items: flex-start; /* Alineación horizontal */
  word-wrap: break-word;
}

.contactos-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 5px;
  max-width: 100%;
}

.contactos-item p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  max-width: 200px;
  font-size: 16px;
  font-weight: 700;
  word-wrap: break-word;
}

.contactos-item i {
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
}

/* -------------------CSS PARA MENSAJE DE WHATSAPP----------------- */

.container {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

.container h2{
  font-size: 30px;
  color: #362222;
  padding: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

#btn__enviar-mensaje {
	background-color: #362222;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}


/* -------------------CSS PARA MAPS----------------- */
/* Estilos base */



.map-container h2{
  font-size: 30px;
  color: #362222;
  padding: 10px;
}

.map{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.map-wrapper {
  max-width: 100%;
  width: 800px;
  height: auto;
}


.map-wrapper iframe {
  max-width: 100%;
  max-height: 100%;
  height: 360px;
  border-radius: 10px;
}

.map-container p{
  text-align: center;
  padding: 10px;
  text-align: justify;
  font-size: 20px;
}
  
  /* FOOTER | PIE DE PAGINA */

footer{
  margin-top: 10px;
}

.container__footer{
  padding: 0px 0px;
}

.box__footer-1,
.box__footer-2,
.box__footer-3 {
  width: 100%;
  display: flex;
  flex-direction:row;
  margin-bottom: 30px;
  justify-content: center;
}

/* Contenedor 1 */
.contenido__1{
  max-width: 100%;
}

.contenido__1 p{
  max-width: 100%;
}

/* Contenedor 2 */

.contenido__2{
  max-width: 100%;
}

.footer-redes{
  justify-content: space-between;
}

.footer-redes a i{
  font-size: 20px;
  padding: 0px 5px;
}

/* Contenedor 3 */
.box__footer-3 {
  justify-content: center;
  padding: 20px 10px;
}

.box__footer-3 h2{
  text-align: center;
}

.contenido__3 p{
  text-align: justify;
}
  
  .item {
  gap: 10px;
  margin: 10px 0px;
  width: 100%;
  }
/* Contenedor 4 (No necesita cambios)*/
}

